    /*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
    /* Posts and pages */
    
    .sticky {
        display: block;
    }
    
    .hentry {
        margin: 0;
    }
    
    .updated:not(.published) {
        display: none;
    }
    
    .single .byline,
    .group-blog .byline {
        display: inline;
    }
    
    .page-content,
    .entry-content,
    .entry-summary {
        margin: $base__space-unit 0 0;
    }
    
    .page-links {
        clear: both;
        margin: 0 0 $base__space-unit;
    }
    /* Asides */
    
    .blog .format-aside .entry-title,
    .archive .format-aside .entry-title {
        display: none;
    }
    /* Comments */
    
    .comment-content a {
        word-wrap: break-word;
    }
    
    .bypostauthor {
        display: block;
    }
    
    .journal-entries li {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }
    
    .seperate-entries img {
        width: 360px;
        height: 245px;
    }
    
    .big-title {
        text-align: center;
        margin-top: 60px;
        margin-bottom: 60px;
        font-size: 2.4rem;
        font-weight: 400;
    }
    /**************************************************
    * btn-black
    ***************************************************/
    
    .btn-black a,
    a.read-more {
        border: 1px solid #000;
        color: #000;
        text-align: center;
        text-transform: uppercase;
        text-align: center;
        height: auto;
        padding: 12px 18px;
        font-size: .9rem;
        font-family: 'Novecentos', sans-serif;
        &:hover {
            color: $color__background-body;
            background: $color__green-brand;
            border: 1px solid $color__green-brand;
        }
    }
    /**************************************************
    * btn-black
    ***************************************************/
    
    .content-whole {
        margin-left: auto;
        margin-right: auto;
        max-width: 1120px;
    }
    
    .shop-stuff-product-wrapper {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        .entry-header img {
            width: 260px;
            height: auto;
        }
    }
    
    .type-post .entry-header {
        margin-top: 3rem;
    }