    /*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
    /* Posts and pages */
    
    .sticky {
        display: block;
    }
    
    .hentry {
        margin: 0;
    }
    
    .updated:not(.published) {
        display: none;
    }
    
    .single .byline,
    .group-blog .byline {
        display: inline;
    }
    
    .page-content,
    .entry-content,
    .entry-summary {
        margin: $base__space-unit 0 0;
    }
    
    .page-links {
        clear: both;
        margin: 0 0 $base__space-unit;
    }
    /* Asides */
    
    .blog .format-aside .entry-title,
    .archive .format-aside .entry-title {
        display: none;
    }
    /* Comments */
    
    .comment-content a {
        word-wrap: break-word;
    }
    
    .bypostauthor {
        display: block;
    }
    
    .journal-entries li {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }
    
    .seperate-entries img {
        width: 362px;
        height: 246px;
    }
    
    .big-title {
        text-align: center;
        margin-top: 60px;
        margin-bottom: 60px;
        font-size: 2.4rem;
        font-weight: 400;
    }
    /**************************************************
    * btn-black
    ***************************************************/
    
    .btn-black a,
    a.read-more {
        border: 1px solid #000;
        color: #000;
        text-align: center;
        text-transform: uppercase;
        text-align: center;
        height: auto;
        padding: 9px 18px;
        font-size: .9rem;
        font-family: 'Novecentos', sans-serif;
        &:hover {
            color: $color__background-body;
            background: $color__green-brand;
            border: 1px solid $color__green-brand;
        }
    }
    /**************************************************
    * btn-black
    ***************************************************/
    
    .blog .entry-content>p {
        margin-bottom: 4rem;
        margin-top: 1.2rem;
        font-family: 'Merriweather', serif;
        font-size: 1rem;
        line-height: 1.8rem;
    }
    
    .page-template-default .btn-black a {
        position: absolute;
        bottom: 11px;
    }
    
    .front-post-info-wrapper {
        flex-direction: column;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .75rem;
        border: 1px solid #e1e1e1;
        border-top-width: 5px;
        height: 170px;
        position: relative;
        bottom: 6px;
        .entry-title {
            line-height: 1.6rem;
            a {
                color: $color__green-brand;
                &:hover {
                    color: black;
                }
            }
        }
        .entry-meta {
            margin: 5px;
            font-family: 'Merriweather', serif;
            font-size: .8rem;
        }
        h2 {
            font-size: 1.3rem;
        }
    }
    
    .content-whole {
        margin-left: auto;
        margin-right: auto;
        max-width: 1120px;
    }
    
    .shop-stuff-product-wrapper {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        .product-image-container .entry-header img {
            width: 260px;
            height: auto;
        }
    }
    
    .type-post .entry-header {
        margin-top: 3rem;
    }
    
    .white-btn {
        border: 1px solid #fff;
        color: #000;
        text-transform: uppercase;
        text-align: center;
        height: auto;
        padding: 12px 18px;
        font-size: .9rem;
        font-family: 'Novecentos', sans-serif;
        &:hover {
            // color: $color__background-body;
            background: $color__green-brand;
            border: 1px solid $color__green-brand;
        }
    }
    
    .btn.more-adv-btn {
        display: inline-block;
        margin: 2rem 0;
        min-width: 235px;
        font-size: 1.2rem;
        &:hover {
            background: $color__btn-green-hover;
        }
    }
    
    h3.comment-reply-title {
        font-size: 1.8rem;
    }
    
    .logged-in-as a {
        color: $color__text-main;
        font-family: 'Merriweather', serif;
    }
    
    .comment-form-comment {
        font-family: 'Novecentos', sans-serif;
        font-size: 1.1rem;
        textarea {
            margin-top: 1rem;
        }
    }