/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
    @include font-size(1);
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    // background: rgb(138, 125, 85);
    background: $color__background-body;
    /* Fallback for when there is no custom background color defined. */
}

a {
    text-decoration: none;
}

blockquote,
q {
    quotes: "" "";
    &:before,
    &:after {
        content: "";
    }
}

ul,
ol {
    margin-left: 0px;
    padding-left: 0px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 $base__space-unit $base__space-unit;
}

table {
    margin: 0 0 $base__space-unit;
    width: 100%;
}

//elements in journal page********************************
.black-btn {
    border: 1px solid #000;
    padding: 12px 18px;
}

.blog,
.date {
    .entry-header {
        position: relative;
    }
    .entry-meta {
        background: $color__green-brand;
        color: $color__background-body;
        text-transform: uppercase;
        width: 370px;
        font-family: 'Novecentos', sans-serif;
        position: absolute;
        left: 379px;
        bottom: 6px;
        padding: 4px 17px;
    }
    .entry-title {
        font-family: 'Merriweather', serif;
    }
    img {
        height: auto;
        max-width: 100%;
    }
    .entry-header h2 {
        background: $color__green-brand;
        font-family: 'Novecentos', sans-serif;
        letter-spacing: 2px;
        margin-top: 2.25rem;
        // max-width: 40%;
        width: 460px;
        padding: .75rem 1.5rem;
        position: absolute;
        top: 0px;
        right: 288px;
        & a:hover {
            color: $color__yellow-brand;
        }
    }
}

//elements in journal page***************************
//elements in search page***************************
.search h1.page-title {
    color: $color__text-main;
    font-size: 2.3rem;
    margin-top: 100px;
    // border-bottom: 1px solid $color__background-hr;
}

.archive h1 {
    color: $color__text-main;
    font-size: 2.4rem;
    letter-spacing: 2px;
    margin-top: 110px;
    text-align: center;
}

.taxonomy-explain {
    //taxonomy explanation
    font-family: 'Merriweather', serif;
    font-weight: 100;
    color: $color__text-main;
    text-align: center;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 56px;
    margin-bottom: -30px;
}

.product-grid-archive {
    //grid for taxonomy groupings
    display: grid;
    justify-content: center;
    grid-template-columns: 260px 260px 260px 260px;
    grid-gap: 1.5rem;
    margin-bottom: 5rem;
    .entry-header {
        height: 260px;
        overflow: hidden;
        position: relative;
    }
}

.search div.entry-summary {
    font-family: 'Merriweather', serif;
    padding-right: 66px;
    line-height: 1.8rem;
}