/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
    @include font-size(1);
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: rgb(172, 172, 172);
    // background: $color__background-body;
    /* Fallback for when there is no custom background color defined. */
}

a {
    text-decoration: none;
}

blockquote,
q {
    quotes: "" "";
    &:before,
    &:after {
        content: "";
    }
}

hr {
    background-color: $color__background-hr;
    border: 0;
    height: 1px;
    margin-bottom: $base__space-unit;
}

ul,
ol {
    margin-left: 0px;
    padding-left: 0px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 $base__space-unit $base__space-unit;
}

table {
    margin: 0 0 $base__space-unit;
    width: 100%;
}