/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
    @include font-size(1);
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: rgb(172, 172, 172);
    // background: $color__background-body;
    /* Fallback for when there is no custom background color defined. */
}

a {
    text-decoration: none;
}

blockquote,
q {
    quotes: "" "";
    &:before,
    &:after {
        content: "";
    }
}

ul,
ol {
    margin-left: 0px;
    padding-left: 0px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 $base__space-unit $base__space-unit;
}

table {
    margin: 0 0 $base__space-unit;
    width: 100%;
}

//elements in journal page********************************
.black-btn {
    border: 1px solid #000;
    padding: 12px 18px;
}

.blog {
    .entry-meta {
        background: $color__green-brand;
        color: $color__background-body;
        text-transform: uppercase;
        max-width: 360px;
        font-family: 'Novecento', sans-serif;
        position: absolute;
    }
    .entry-title {
        font-family: 'Merriweather', serif;
    }
    img {
        height: auto;
        max-width: 100%;
    }
    .entry-header h2 {
        background: $color__green-brand;
        font-family: 'Novecento', sans-serif;
        letter-spacing: 2px;
        margin-top: 2.25rem;
        max-width: 40%;
        padding: .75rem 1.5rem;
        position: absolute;
        & a:hover {
            color: $color__yellow-brand;
        }
    }
}

//elements in journal page***************************
//elements in search page***************************
.search h1.page-title {
    color: $color__text-main;
    font-size: 2.3rem;
    margin-top: 100px;
    border-bottom: 1px solid $color__background-hr;
}

.search div.entry-summary {
    font-family: 'Merriweather', serif;
    padding-right: 66px;
}