.site-header .content-whole {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.site-title {
    overflow: hidden;
    height: 1px;
    widows: 1px;
}

.site-branding .logo img {
    height: auto;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 50px;
    margin-top: 6px;
}

.nav-search-wrapper {
    display: flex;
}

.search-submit {
    color: #fff;
    background: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
    &:hover {
        border-color: transparent;
        box-shadow: none;
    }
}

input[type=search] {
    border: none;
    border-radius: 0;
    background: transparent;
}

::placeholder {
    color: $color__yellow-brand;
}

.main-navigation {
    clear: both;
    display: block;
    width: auto;
    margin-left: auto;
    li {
        float: left;
        padding-left: 1.5rem;
        position: relative;
    }
    a {
        color: white;
    }
}

.site-header {
    text-transform: uppercase;
    border-bottom: 1px solid $color__background-hr;
    .site-branding {
        height: 50px;
    }
    a {
        color: $color__green-brand;
    }
    .logo-white {
        display: none;
    }
    .logo-green {
        display: block;
    }
}

.blog,
.page-template-default,
.archive,
.post-template-default,
.product-template-default,
.search,
.error404 {
    .search-submit {
        color: $color__green-brand;
        text-shadow: none;
    }
}

.home,
.page-template-about,
{
    .site-header {
        border-bottom: none;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px #323232;
        position: absolute;
        left: 0;
        right: 0;
        top: 32px;
        a {
            color: $color__background-body;
        }
        .logo-white {
            display: block;
        }
        .logo-green {
            display: none;
        }
    }
}

.site-header {
    .search-form {
        display: flex;
    }
    .search-field {
        display: none;
    }
    .search-field-focus {
        display: block;
    }
}