.site-header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.site-title {
    overflow: hidden;
    height: 1px;
    widows: 1px;
}

.site-branding .logo img {
    height: auto;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 50px;
    margin-top: 36px;
}

.nav-search-wrapper {
    display: flex;
}

.search-submit {
    color: #fff;
    background: transparent;
    border: none;
    box-shadow: none;
    &:hover {
        border-color: transparent;
        box-shadow: none;
    }
}

input[type=search] {
    border: none;
    border-radius: 0;
    background: transparent;
}

::placeholder {
    color: $color__yellow-brand;
}

.main-navigation {
    clear: both;
    display: block;
    width: auto;
    margin-left: auto;
    li {
        float: left;
        padding-left: 1.5rem;
        position: relative;
    }
    a {
        color: white;
    }
}

.site-header {
    a {
        color: blue;
    }
    .logo-white {
        display: none;
    }
    .logo-green {
        display: block;
    }
}

.home,
.page-template-about {
    .site-header {
        text-transform: uppercase;
        text-shadow: 1px 1px 2px #323232;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        a {
            color: white;
        }
        .logo-white {
            display: block;
        }
        .logo-green {
            display: none;
        }
    }
}