/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* Front page */

.site-main .content-whole {
    margin-left: auto;
    margin-right: auto;
    max-width: 1120px;
}

// tag for... @TODO label post-23 e.g. where this comes from
#post-23 {
    h1 {
        color: white;
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .page-template-about .entry-content p:nth-child(6) {
        margin-bottom: 3rem;
    }
    .entry-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1120px;
        padding-left: 160px;
        padding-right: 160px;
        font-family: 'Merriweather', Courier, serif;
        h2 {
            text-align: center;
            font-size: 2.1rem;
        }
    }
    .entry-content p:nth-child(6) {
        margin-bottom: 5rem;
        margin-top: 2rem;
    }
}

.prim-second-wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
}

.products-grid-wrapper {
    // width: 1120px;
    display: grid;
    justify-content: center;
    grid-template-columns: 260px 260px 260px 260px;
    // grid-template-rows: 260px 260px 260px 260px;
    grid-gap: 1.5rem;
    margin-bottom: 5rem;
    .product-image-container {
        height: 260px;
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 460px;
            height: auto;
            // max-width: 300px;
        }
    }
    .product-info {
        border: 1px solid #e1e1e1;
        background-color: #e1e1e1;
        .entry-title {
            position: relative;
        }
    }
    .type-product {
        position: relative;
    }
    .type-product img {
        object-fit: cover;
    }
}

.product-grid-archive .entry-header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    height: auto;
}

.page-header {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//formating price info under the images in shop page
//top menu for shop page*****************************
.shop-top-menu-wrapper {
    border-bottom: 1px dashed $color__background-hr;
    padding-bottom: 20px;
    a {
        color: $color__green-brand;
        font-size: 1.2rem;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 100;
        font-family: 'Novecentos', sans-serif;
        &:hover {
            color: black;
        }
    }
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

//top menu for shop page*****************************
.post-type-archive h1 {
    color: $color__text-main;
    font-size: 2.2rem;
    letter-spacing: 2px;
    margin-top: 110px;
    text-align: center;
}

.price-info-wrapper .product-info {
    //imitating dots for price
    .dots-inside {
        width: auto;
        border-bottom: 1px dotted $color__text-main;
        flex: 1;
        margin-bottom: 6px;
        margin-left: 4px;
        margin-right: 4px;
    }
    a {
        color: #404040;
        font-size: 1rem;
        font-weight: 400;
    }
    background: $color__background-body;
    font-family: 'Merriweather',
    serif;
    padding: 15px 15px;
    border-top: 4px solid $color__background-hr;
    border-right: 1px solid $color__background-hr;
    border-bottom: 1px solid $color__background-hr;
    border-left: 1px solid $color__background-hr;
    display: flex;
    justify-content: space-around;
    p {
        margin: 0;
    }
}