/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* Front page */

// The main content section
.archive,
.blog {
    .content-area {
        width: 74%;
        display: inline-block;
        border-right: solid 1px black;
        background: rgb(212, 247, 203);
    }
    // The Sidebar
    .widget-area {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        background: rgb(170, 210, 243);
    }
}

.site-main .content-whole {
    margin-left: auto;
    margin-right: auto;
    max-width: 1120px;
}

#post-23 {
    h1 {
        color: white;
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .entry-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1120px;
        padding-left: 160px;
        padding-right: 160px;
        font-family: 'Merriweather', Courier, serif;
        h2 {
            text-align: center;
            font-size: 2rem;
        }
    }
}