.post-template-default .entry-header h1 {
    background: #248a83;
    font-family: Novecentos, sans-serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-top: 2.25rem;
    width: 460px;
    padding: .75rem 1.5rem;
    position: absolute;
    top: 0;
    right: 289px;
    color: $color__background-body;
    position: absolute;
}

.post-template-default .entry-header {
    position: relative;
}

.single-product .entry-meta,
.single .entry-meta {
    background: #248a83;
    color: #fff;
    text-transform: uppercase;
    width: 370px;
    font-family: Novecentos, sans-serif;
    position: absolute;
    left: 271px;
    bottom: 6px;
    padding: 4px 17px;
}

.single .entry-meta {
    left: 379px;
    bottom: 6px;
}

.single .entry-header img {
    width: 100%;
    height: auto;
}

.post-template-default .entry-content {
    font-family: 'Merriweather', Courier, serif;
    line-height: 1.8rem;
}

.sharing-button {
    .fab {
        font-size: .9rem;
        color: #000;
    }
    border: 1px solid #000;
    padding: 10px 20px;
    text-transform: uppercase;
}

a.sharing-button {
    color: black;
    font-size: .9rem;
    &:hover {
        background: $color__green-brand;
        border-color: $color__green-brand;
        color: #fff;
        .fab {
            color: #fff;
        }
    }
}

.comment-form .submit {
    text-transform: uppercase;
    border-radius: 0px;
    border-color: $color__green-brand;
    background: $color__green-brand;
    box-shadow: none;
    color: #fff;
    font-size: .9rem;
    font-weight: 200;
    padding: 10px 20px;
    text-shadow: none;
    margin-bottom: 3.5rem;
    font-family: Novecentos, sans-serif;
    &:hover {
        box-shadow: none;
        background: $color__btn-green-hover;
        border-color: $color__btn-green-hover;
    }
}

.social-buttons {
    margin: 2rem 0rem;
}

.nav-links a {
    text-transform: uppercase;
    color: $color__green-brand;
}

.single-product .hentry {
    .entry-title {
        // margin-bottom: 1rem;
        font-size: 2.4rem;
        color: $color__orange-brand;
    }
    .product-price-container {
        font-family: Novecentos, sans-serif;
        font-size: 1.8rem;
    }
    margin: 3rem 0;
    img {
        padding-right: 1.2rem;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    .product-content-wrapper {
        padding-left: 1.2rem;
        h1.entry-title {
            margin-top: -12px;
            padding-top: 0px;
        }
    }
    .entry-content p {
        line-height: 1.85;
        font-family: 'Merriweather', Courier, serif;
    }
}

.page-numbers {
    background: #248a83;
    color: #fff;
    cursor: pointer;
    font-family: 'Novecentos', sans-serif;
    font-size: 1rem;
    padding: .75rem .75rem;
    text-transform: uppercase;
    margin: .1rem;
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    &:hover {
        background: $color__purple-brand;
    }
    &.current {
        background: gray;
    }
}