.post-template-default .entry-header h1 {
    background: #248a83;
    font-family: Novecentos, sans-serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-top: 2.25rem;
    width: 460px;
    padding: .75rem 1.5rem;
    position: absolute;
    top: 0;
    right: 289px;
    color: $color__background-body;
    position: absolute;
}

.post-template-default .entry-header {
    position: relative;
}

.entry-meta {
    background: #248a83;
    color: #fff;
    text-transform: uppercase;
    width: 370px;
    font-family: Novecentos, sans-serif;
    position: absolute;
    left: 271px;
    bottom: 6px;
    padding: 4px 17px;
}

.post-template-default .entry-content {
    font-family: 'Merriweather', Courier, serif;
    line-height: 1.7rem;
}

.sharing-button {
    .fab {
        font-size: .9rem;
        color: #000;
    }
    border: 1px solid #000;
    padding: 10px 20px;
    text-transform: uppercase;
}

a.sharing-button {
    color: black;
    &:hover {
        background: $color__green-brand;
        color: #fff;
        .fab {
            color: #fff;
        }
    }
}

.comment-form .submit {
    text-transform: uppercase;
    border-radius: 0px;
    border-color: $color__green-brand;
    background: $color__green-brand;
    box-shadow: none;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    text-shadow: none;
    &:hover {
        box-shadow: none;
        background: $color__btn-green-hover;
        border-color: $color__btn-green-hover;
    }
}

.social-buttons {
    margin: 2rem 0rem;
}

.nav-links a {
    text-transform: uppercase;
    color: $color__green-brand;
}

.single-product .entry-meta {
    width: 370px;
    font-family: Novecentos, sans-serif;
    position: absolute;
    left: 271px;
    bottom: 6px;
    padding: 4px 17px;
}