/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
    margin: 0 0 $base__space-unit;
    /* Make sure select elements fit in widgets. */
    select {
        max-width: 100%;
    }
}


/* Search widget. */

.prim-second-wrapper .content-area {
    border-right: 1px solid $color__background-hr;
    padding-right: 5%;
    width: 90%;
}

.widget_search .search-submit {
    display: none;
}

.icon-search {
    font-size: 1rem;
}

.widget-area {
    padding-left: 70px;
    width: 34%;
    .tent-biz-hours-class,
    .textwidget,
    .widget_archive {
        a {
            color: $color__green-brand;
            &:hover {
                color: $color__text-main;
            }
        }
        font-family: 'Merriweather',
        serif;
        .fas {
            font-size: 0.8rem;
        }
    }
    .tent-biz-hours-class .day-of-week {
        font-weight: 700;
    }
}

#custom_html-2 .widget-title {
    margin-top: 95px;
}

.custom-html-widget h2 {
    font-size: .9rem;
}

.search-pagination {
    padding-top: 2rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
    border-top: 1px solid $color__background-hr;
}

.search-field {
    text-transform: uppercase;
}